body {
    font-family: Montserrat;
    color: white;
    background-color: black;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Center the content in the browser window */
.container {
    margin: auto;
    text-align: center;
}

.title {
    font-size: 3rem;
    font-family: 'Great Vibes', cursive;
}

.color-blue{
    color: #3E82F7;
}

.color-green{
    color: #2CA94F;
}

.color-red{
    color: #BB11DD;
}

.color-yellow{
    color: #FCBD00;
}

.color-white{
    color: white;
}

button {
    background: transparent;
    border: none !important;
}